#
# Gitignore for move-manager, this should make sure that there isnt anything exposed that there shouldnt be
#

# dataset file is massive
datasets/*

# dont include the env file changes so i dont manage to expose all my keys
.env

# LevelDB changes arent needed 
dataset.db/*

# Binaries for programs and plugins
bin/*

# Test binary, built with `go test -c`
bin/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
bin/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

